* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background: linear-gradient(135deg, #201a5a 0%, #206069 100%);
	color: rgb(230, 230, 230);
	font-family: 'Poppins', sans-serif;
	min-height: 100vh;
}
.intro {
	font-size: 2rem;
	min-height: 7.5vh;
	margin-bottom: -1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.searchBar {
	min-height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5rem;
	font-size: 2rem;
	border: none;
}

.search {
	min-height: 5vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.3rem;
	font-size: 2rem;
}

.questionList {
	display: inline;
	justify-content: center;
	align-items: center;
	min-width: 30%;
	list-style: none;
}

.question {
	margin: 0.5rem;
	font-size: 1.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: all 1s ease;
}

.answer,
.correct,
.answers {
	margin: 0.5rem;
	font-size: 1rem;
	justify-content: space-between;
	align-items: center;
	transition: all 1s ease;
}

.answer {
	margin: 0.25rem;
	padding-left: 1rem;
}

.correct {
	padding-left: 0.25rem;
}

.searchBar,
.qa {
	color: rgb(230, 230, 230);
	align-items: center;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	margin-left: 10rem;
	margin-right: 10rem;
	padding-left: 1rem;
	border: 0.1rem solid white;
	box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
	transition: all 1s ease;
}

.searchBar {
	margin-left: 25rem;
	margin-right: 25rem;
}

.pytanie {
	margin-right: 3rem;
}

@media screen and (max-width: 1440px) {
	.searchBar {
		margin-left: 20rem;
		margin-right: 20rem;
	}
}

@media screen and (max-width: 1024px) {
	.searchBar {
		margin-left: 10rem;
		margin-right: 10rem;
	}
	.qa {
		margin-left: 7.5rem;
		margin-right: 7.5rem;
	}
}

@media screen and (max-width: 768px) {
	.qa {
		margin-left: 6rem;
		margin-right: 6rem;
	}
	.pytanie {
		margin-right: 1rem;
		font-size: 1.5rem;
	}
	.search {
		max-width: 25vh;
	}
}

@media screen and (max-width: 425px) {
	.qa {
		margin-left: 2.5rem;
		margin-right: 2.5rem;
	}
	.searchBar {
		margin-left: 3.5rem;
		margin-right: 3.5rem;
	}
	.pytanie {
		margin-right: 0.5rem;
		font-size: 1.5rem;
	}
	.search {
		max-width: 20vh;
	}
}

@media screen and (max-width: 375px) {
	.qa {
		margin-left: 2rem;
		margin-right: 2rem;
	}
	.searchBar {
		margin-left: 3rem;
		margin-right: 3rem;
	}
	.pytanie {
		margin-right: 0.5rem;
		font-size: 1.25rem;
	}
	.search {
		max-width: 17.5vh;
	}
}

@media screen and (max-width: 320px) {
	.qa {
		margin-left: 1.5rem;
		margin-right: 1.5rem;
	}
	.searchBar {
		margin-left: 2.5rem;
		margin-right: 2.5rem;
	}
	.pytanie {
		margin-right: 0.25rem;
		font-size: 1.25rem;
	}
	.search {
		max-width: 15vh;
		margin-right: 0.25rem;
	}
}
